.view {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  height: 100vh;           /* Faz o elemento ocupar a altura total da tela */
  text-align: center;      /* Centraliza o texto */
}

.login-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.dados-container {
  margin: 10px 0;
}

.todos-button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.app-background {
  background-color: #f0f0f0; /* Substitua pelo código de cor desejado */
  min-height: 100vh; /* Garante que a cor cubra toda a altura da tela */
  padding: 20px;
}
